.linha {
    display: inline-flex;
    justify-content : center;
    align-items : center;
    gap: 40px;
    width: 100%;
}
.maguinho_fofinho {
    justify-content : center;
    align-items : center;
    gap: 40px;
}

img {
    object-fit: cover;
    height : 300px; /*altura */
    width : 250px; /*largura*/
}


.jogar{
width: 90px;
height: 50px;
color: purple;
text-align : center;
}

.h2 {
    color: whitesmoke;
}
.p {
    text-align : center;
}

.h1 {
    text-align : center;
}

.body {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    font-size: 20px;
    text-align: center;
}

.margem{
    margin: auto;
}

